<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_specials</name>
    <displayName><![CDATA[Specials block]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Displays your products that are currently on sale in a dedicated block.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
