@import "bootstrap";
@import "font-awesome";

/* COLOR */
$darkest-color:#000;
$lightest-color:#fff;
$gray-color:#ccc;
$light-gray-color:#f4f4f4;
$danger-color:#ff0000;
$success-color:#25bb6b;
$primary-color:#333;

/* FONT */
$fat-font:'Oswald', sans-serif;
$default-font:arial,sans;

header#header{padding-bottom:15px;}
.header-nav{
	background:$darkest-color;
	color:$lightest-color;
	position:relative;
	z-index:4;
	a,span{
		color:$lightest-color;
		text-decoration:none;
		&:hover{
			text-decoration:none;
		}
	}
	/* User Info */
	.user-info{padding-top:7px;}
	
	/* Shopping Cart*/
	.blockcart{float:right;
		&.close{color:$lightest-color; opacity:0.8; font-weight:normal;
			a,span{}
			i{font-size:20px; margin-right:5px;}
		}
		a:hover{
			color:$gray-color;
			text-decoration:none;
		}
		.dropdown-menu{
			padding:10px;
			a,span{color:#333}
			ul.dropdown-item{
				margin:0px;
				padding:0px;
				list-style:none;
				li{padding:5px 0}
			}
		}
	}
}

.logo-bar{
	/* Logo */
	.logo_block{padding-top:15px; padding-bottom:15px;}
	
	/* Searh Block */
	#search_widget{float:right;padding-top:15px; padding-bottom:15px;
		.form-inline{float:right}
	}
}

/* Bread crumb */
nav.breadcrumb{
	overflow:hidden;
	ol{list-style:none;
		li{float:left; padding-left:5px;
		&:after{
			content:'/';
		}
		}
	}
}

/* Pagination */
.pagination{
	clear:both;
	display:block;
}



/* MENU */
.navbar{padding-bottom:0px; margin-bottom:0px; position:relative; z-index:3}
div.menu{
	ul{
		list-style:none;
		margin:0px;
		padding:0px;
		li{
			font-family:$fat-font; font-size:20px; 
			a{color:$darkest-color; display:block; padding:10px 0;
				
			}
			&>div{
				display:none;
				position:absolute;
				background:$lightest-color;
				ul{
					display:block;
					width:300px;
					height:auto;
					border:solid 1px $gray-color;
					li{
						font-size:16px; position:relative;
						a{padding:5px;
							&:hover{
								background:$gray-color;
							}
						}
						&>div{
							margin-left:300px;
							top:0px;
						}
					}
				}
			}
			&:hover{
				&>div{display:block}
			}
		}
	}
}

/**/
#wrapper{padding:0 0 20px 0}

/* HOME SLIDER */
.homeslider-container{
 margin:0px;
}

section#main{border-top:solid 1px #fff;
	h1{
		font-family:$fat-font;
		font-size:30px;
		padding: 25px 0;
margin: 0px;
	}
	h2{
		font-family:$fat-font;
		font-size:25px;
		padding: 25px 0;
margin: 0px;
	}
	ul.products{
		list-style:none;
		margin:0px; padding:0px;
		li.item{text-align:center;
			position:relative;
			min-height:400px;
			.thumbnail{border-radius:0px}
			h3{font-size:18px;font-family:$fat-font;}
			.product-description-short{display:none}
			.variant-links{
				position:absolute;
				top: 10px;
				right: 25px;
				width:25px;
				a.color{
					display:block;
					width:25px;
					height:25px;
					border:none;
					text-indent:-999em;
					border:solid 1px $gray-color;
					margin-bottom:2px;
					
				}
			}
			.product-price-and-shipping{
				.price{font-size:18px;}
				.regular-price{color:#ff0000; text-decoration:line-through}
				.discount-percentage{color:#ff0000}
			}
			.product-flags{
				margin:0px; font-size:12px; padding:0px; list-style:none;
				.discount{}
				.new{ font-weight:bold}
				
			}
			.product-availability{  font-size:12px;
					&.available {color:$success-color}
				} 
		}
	}
	.all_links{clear:both; padding:20px 0}
}

/* LEFT COLUMN */
#left-column{
	ul.list{
		margin:0px; padding:0px; list-style:none; border:solid 1px $gray-color;
		&.line{
			li {
			border-bottom:solid 1px $gray-color; margin:0px; padding:0px;
				a{padding:5px 10px; display:block; font-weight:normal; font-family:$fat-font; font-size:20px; background:$primary-color; color:$lightest-color}
				ul{
					font-family:$default-font;
					margin:0px; padding:0px 0 0 0px; list-style:none;
					li{
						a{font-weight:bold; font-family:$default-font; font-size:14px; background:none; color:$primary-color}
						ul{
							font-family:$default-font;
							margin:0px; padding:0px 0 0 0px; list-style:none;
							li{
								a{font-weight:normal; font-family:$default-font; font-size:14px;}
								
							}
						}
						
					}
				}
				&:last-child{border:none}
			}
		}
	}
	/* Product Search */
#search_filter_controls{display:none}
#search_filters{
		h3{padding:5px 10px; display:block; font-weight:normal; font-family:$fat-font; font-size:20px; background:$primary-color; color:$lightest-color; margin:0px;}
		ul{
		margin:0px; padding:0px; list-style:none; border:solid 1px $gray-color;
		
			li {
			border-bottom:solid 1px $gray-color; margin:0px; padding:0px;
				a{display:block; padding:5px 10px;}
				input{display:none !important}
				ul{
					font-family:$default-font;
					margin:0px; padding:0px 0 0 0px; list-style:none;
					li{
						a{font-weight:bold; font-family:$default-font; font-size:14px; background:none; color:$primary-color}
						ul{
							font-family:$default-font;
							margin:0px; padding:0px 0 0 0px; list-style:none;
							li{
								a{font-weight:normal; font-family:$default-font; font-size:14px;}
								
							}
						}
						
					}
				}
				&:last-child{border:none}
			}
		
	}
}
}


/* FOOTER */
footer#footer{
	background:$darkest-color;
	color:$lightest-color;
	padding:35px 0;
	h4{padding:20px 0}
	ul{
		li{
			color:$lightest-color;
			a{color:$lightest-color;}
		}
	}
	
}

/* page */
body#index{
	.breadcrumb{display:none}
	header.page-header{display:none}
}

body#category{
	.subcategories{display:none;}
	.active_filters{
		ul{
			list-style:none; margin:0px 0 10px 0; padding:0px;
			li{display:inline-block; padding:5px 10px; border:solid 1px $gray-color}
		}
	}
}

/* Product Shareing */
.social-sharing{
	padding:15px 0;
	ul{list-style:none; margin:0px 0 10px 0; padding:0px;
		li{display:block; float:left;
			border:solid 2px $gray-color;
			display:block;
			width:25px; height:25px; margin:0 3px 0 0;
			border-radius:5px; text-align:center;
			a{
				color:$gray-color;
				&:hover{
					color:$darkest-color;
				}
			}
		}
	}
}

/* Product */
body#product{
	.product-flags{ list-style:none; margin:0px 0 10px 0; padding:0px;
		 li {display:inline-block; border:solid 2px $gray-color; padding:3px 5px; }
	}
	.product_images{
		list-style:none; margin:0px 0 10px 0; padding:0px;
		li {display:block; float:left; position:relative;
			
				img{max-width:100%; height:auto}
			
		}
	}
	.product-actions{
		.inner{
			border:solid 5px $gray-color;
			padding:20px;
			.product-prices{
				.product-discount{color:$danger-color; text-decoration:line-through}
				span{
					&[itemprop=price]{font-size:25px; font-family:$fat-font}
				}
				.discount-percentage{display:inline-block; padding:3px 5px; border:solid 2px $success-color}
			}
		}
		ul.product-variants{
			list-style:none; margin:0px; padding:15px 0;
			li{
				border-bottom:solid 1px $gray-color; overflow:hidden; padding-bottom:5px;
				
				ul.color{
					list-style:none; margin:0px; padding:0px;
					li{
						position:relative; float:left; border:none; margin-right:2px;
						input{opacity:0; display:block; position:absolute; width:25px; height:25px; margin:0px;}
						span.color-code{
							display:block; width:25px; height:25px;
						}
					}
				}
			}
		}
		.product-add-to-cart{
			clear:both;
			display:block;
		}
	}
	.images-container{
		.bx-controls{position:relative;
			.bx-next{position: absolute; right: 0px; top: -59px;
				&.disabled{display:none}
			}
			.bx-prev{position: absolute; left: 0px; top: -59px;
				&.disabled{display:none}
			}
		}
	}
	.product-block{
		  border-top:solid 1px $gray-color; padding:20px;
		clear:both; display:block;
		h3{font-size:20px; font-family:$fat-font;
			margin:10px 0;
		}
	}
}

/* Cart */
body#cart{
	.cart-overview{
		.body{
			&>ul{
				list-style:none; margin:0px; padding:15px 0;
				li{
					border-bottom:solid 1px $gray-color;
				}
			}
			ul.grid-table{
				display:table;
				li.tr,li.thead{
					display:table-row;
					span.td{
						display:table-cell;
						vertical-align:top;
						padding:10px 0;
						border-bottom:solid 1px $gray-color;
						.attributes {
							clear:both;
							display:block;
							.label{color:$primary-color; padding-left:0px;}
							.value{font-size:12px;}
						}
						.remove-from-cart{
							font-size:20px;
							i{color:$danger-color}
						}
						
					&:nth-child(1){
						width:15%;
					}
					&:nth-child(2){
						width:35%;
					}
					&:nth-child(3){
						width:10%;
					}
					&:nth-child(4){
						width:25%;
					}
					&:nth-child(5){
						width:15%;
					}
					
					}
					
				}
				li.thead{
					span.td{font-weight:bold}
				}
			}
			
		
		}
	}
	#items-subtotal{display:none;}
	.cart-detailed-totals{
		overflow:hidden;
		padding-bottom:20px;
		.cart-subtotals{
			float:right;
			.tr{display:block; clear:both; float:none;
				.td{float:left; width:150px; color:#333; font-size:14px; padding:5px 0; 
					&.value{text-align:right; font-weight:bold}
				}
				
			}
		}
			
		
		}
		.cart-total{display:block; clear:both; float:right;
			.td{float:left; width:150px; color:#333; font-size:14px; padding:5px 0; 
					&.value{text-align:right; font-weight:bold}
				}
		}	
} // Page : Cart End

body#checkout{
	#js-checkout-summary{
		header {
			h1{font-family:$fat-font; font-size:20px;}
		}
		#cart-summary-product-list{
			ul{
				margin:0px; padding:0px 0; list-style:none; width:48%; border:solid 1px #ccc; float:left;
				li{
					clear:both;  border-bottom:solid 1px #ccc; padding:5px 20px;
				}
			}
		}
		.cart-summary-totals{
			width:48%; border:solid 1px #ccc;  float:right;
			.cart-summary-totals{clear:both;  border-bottom:solid 1px #ccc; padding:0px;
				
				.label{font-size:14px; color:$darkest-color}
			}
			
		}
		#cart-summary,.cart-summary-totals{
				 border-bottom:solid 1px #ccc;
				 .tr{display:block; clear:both;   padding:5px 20px; width:100%;
					.label{font-size:14px; color:$darkest-color; width:150px; float:left;}
				 }
			}
		
	}
	.cart-summary-totals{background:$light-gray-color}
	
	.checkout-step{
		clear:both; display:block; border:solid 1px $gray-color; padding-left:20px; padding-right:20px; margin-bottom:20px;
		h3,h1{font-family:$fat-font; font-size:20px; margin:10px 0;
		.step-number{ 
			
			padding:0 10px 0 0; display:inline-block;
			&:after{content:".";}
		}
	}
	.content{padding:20px 0;}
	}
}

.pagination{
	clear:both; display:block;
	.align-left{float:left}
	.align-right{float:right}
	&:after{
		content:"";
		clear:both;
		display:block;
	}
}
#block-reassurance{
		clear:both;
		display:block;
		overflow:hidden;
		padding:10px 0;
		border:solid 1px #ccc;
		margin:15px 0;
		border-radius:5px;
		ul{
			margin:0px; padding:10px 0; list-style:none;
			li{float:left; width:33.33%; padding:0 20px;
				img{float:left; margin-right:10px; position:relative; top:-5px;}
				span{float:left; width:70%;}
			}
		}
}
.gotop{
	position:fixed;
	bottom:30px; right:30px;  width:45px; height:45px;  display:block; 
	a{display:block; width:45px; height:45px; border:solid 2px $darkest-color; border-radius:45px; background:$lightest-color; text-align:center; line-height:37px; color:$primary-color}
}