@import "bootstrap";
@import "font-awesome";

/* COLOR */
$darkest-color:#000;
$lightest-color:#fff;
$gray-color:#ccc;
$danger-color:#ff0000;
$success-color:#25bb6b;

/* FONT */
$fat-font:'Oswald', sans-serif;

header#header{padding-bottom:15px;}
.header-nav{
	background:$darkest-color;
	color:$lightest-color;
	position:relative;
	z-index:4;
	a,span{
		color:$lightest-color;
		text-decoration:none;
		&:hover{
			text-decoration:none;
		}
	}
	/* User Info */
	.user-info{padding-top:7px;}
	
	/* Shopping Cart*/
	.blockcart{float:right;
		&.close{color:$lightest-color; opacity:0.8; font-weight:normal;
			a,span{}
			i{font-size:20px; margin-right:5px;}
		}
		a:hover{
			color:$gray-color;
			text-decoration:none;
		}
		.dropdown-menu{
			padding:10px;
			a,span{color:#333}
			ul.dropdown-item{
				margin:0px;
				padding:0px;
				list-style:none;
				li{padding:5px 0}
			}
		}
	}
}

.logo-bar{
	/* Logo */
	.logo_block{padding-top:15px; padding-bottom:15px;}
	
	/* Searh Block */
	#search_widget{float:right;padding-top:15px; padding-bottom:15px;
		.form-inline{float:right}
	}
}

/* MENU */
.navbar{padding-bottom:0px; margin-bottom:0px; position:relative; z-index:3}
div.menu{
	ul{
		list-style:none;
		margin:0px;
		padding:0px;
		li{
			font-family:$fat-font; font-size:20px; 
			a{color:$darkest-color; display:block; padding:10px 0;
				
			}
			&>div{
				display:none;
				position:absolute;
				background:$lightest-color;
				ul{
					display:block;
					width:300px;
					height:auto;
					border:solid 1px $gray-color;
					li{
						font-size:16px; position:relative;
						a{padding:5px;
							&:hover{
								background:$gray-color;
							}
						}
						&>div{
							margin-left:300px;
							top:0px;
						}
					}
				}
			}
			&:hover{
				&>div{display:block}
			}
		}
	}
}

/**/
#wrapper{padding:0 0 20px 0}

/* HOME SLIDER */
.homeslider-container{
 margin:0px;
}

section#content{border-top:solid 1px #fff;
	h2{
		font-family:$fat-font;
		font-size:25px;
		padding: 25px 0;
margin: 0px;
	}
	ul.products{
		li.item{text-align:center;
			position:relative;
			min-height:400px;
			.thumbnail{border-radius:0px}
			h3{font-size:18px;font-family:$fat-font;}
			.product-description-short{display:none}
			.variant-links{
				position:absolute;
				top: 10px;
				right: 25px;
				width:25px;
				a.color{
					display:block;
					width:25px;
					height:25px;
					border:none;
					text-indent:-999em;
					border:solid 1px $gray-color;
					margin-bottom:2px;
					
				}
			}
			.product-price-and-shipping{
				.price{font-size:18px;}
				.regular-price{color:#ff0000; text-decoration:line-through}
				.discount-percentage{color:#ff0000}
			}
			.product-flags{
				margin:0px; font-size:12px; padding:0px; list-style:none;
				.discount{}
				.new{ font-weight:bold}
				
			}
			.product-availability{  font-size:12px;
					&.available {color:$success-color}
				} 
		}
	}
	.all_links{clear:both; padding:20px 0}
}

ul.products{
	list-style:none;
	margin:0px; padding:0px;
}

/* FOOTER */
footer#footer{
	background:$darkest-color;
	color:$lightest-color;
	padding:35px 0;
	h4{padding:20px 0}
	ul{
		li{
			color:$lightest-color;
			a{color:$lightest-color;}
		}
	}
	
}

/* page */
body#index{
	.breadcrumb{display:none}
	header.page-header{display:none}
}